html, body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  background-color: darkgray;
}

header img {
  max-width: 800px;
}

section {
  margin-top: -100px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls div {
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  min-width: 16px;
  text-align: center;
}

.mute {
  border: none;
  height: 16px;
  min-width: 16px;

  background-image: url(./images/speaker.png);
  background-position: center;
  background-size: 37px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.soundoff {
  background-image: url(./images/mute.png);
}


.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

}

.death-blink {
  animation-name: death-blink;
  animation-duration: .25s;
  animation-iteration-count: infinite;
}

@keyframes death-blink {
  from {background-color: none;}
  to {background-color: rgb(186, 0, 0);}
}

.cell {
  width: 5.5%;
  height: 5.5%;
  background-color: darkgray;
  background-image: url(./images/dot.png);
  background-position: center;
  background-size: 5px;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wall {
  background-color: rgb(63, 63, 63);
  background-image: none;
}

.superfood {
  filter: hue-rotate(270deg);
  background-size: 15px;  
}

.no-background {
  background-image: none;
  filter: none;
}

.blue-ghost {
  background-image: url(./images/blue_ghost.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.red-ghost {
  background-image: url(./images/red_ghost.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.yellow-ghost {
  background-image: url(./images/yellow_ghost.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.pink-ghost {
  background-image: url(./images/pink_ghost.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.fleeing {
  background-image: url(./images/fleeing_ghost.png);
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
  animation-name: blink;
  animation-duration: .15s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {background-image: url(./images/fleeing_ghost.png);}
  to {background-image: url(./images/dark_ghost.png);}
}

.pacman {
  background-image: url(./images/pacman.png);
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}

.redflash {
  animation-name: redflash;
  animation-duration: .5s;
  animation-iteration-count: 6;
}

@keyframes redflash {
  from {background-image: url(./images/red_ghost.png);}
  to {background-image: none;}
}

.blueflash {
  animation-name: blueflash;
  animation-duration: .5s;
  animation-iteration-count: 6;
}

@keyframes blueflash {
  from {background-image: url(./images/blue_ghost.png);}
  to {background-image: none;}
}

.pinkflash {
  animation-name: pinkflash;
  animation-duration: .5s;
  animation-iteration-count: 6;
}

@keyframes pinkflash {
  from {background-image: url(./images/pink_ghost.png);}
  to {background-image: none;}
}

.yellowflash {
  animation-name: yellowflash;
  animation-duration: .5s;
  animation-iteration-count: 6;
}

@keyframes yellowflash {
  from {background-image: url(./images/yellow_ghost.png);}
  to {background-image: none;}
}


//down= transform: rotate(90deg);
//right= transform: scaleX(-1);
//up=  transform: rotate(270deg);


footer {
  display: flex;
  flex-direction: row;
}

footer p {
  font-size: 15px;
  margin: 20px;
  text-align: center;
  line-height: 25px;
}

img[alt=Play-screen] { width: 50px; }
